@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Time to get Cooking with Justin!</h1>
    <br>
    <p>
        Cooking is a wonderful hobby for numerous reasons, captivating enthusiasts with its blend of creativity, sensory exploration, and nourishment.
        Beyond its practicality, cooking offers a unique avenue for self-expression, allowing individuals to experiment with flavors, textures, and 
        ingredients to craft dishes that reflect their personal tastes and cultural influences.
    </p>
    <img src="~/img_4480.jpg" height="350"/>
    <br>
    <p>
        The process of preparing meals engages all the senses, from the sizzle of ingredients in a pan to the vibrant colors and enticing aromas 
        that fill the kitchen. Moreover, cooking fosters a sense of accomplishment and satisfaction, as individuals witness their culinary creations 
        come to life and share them with others, fostering connections and fostering community. Beyond its intrinsic joys, cooking also offers 
        tangible benefits, promoting healthier eating habits, fostering mindfulness, and providing a creative outlet for stress relief. 
        Overall, cooking transcends mere sustenance, enriching lives with its blend of creativity, nourishment, and connection.
    </p>
    <img src="~/img_8386.jpg" height="350"/>
    <br>
    <p> 
        I started cooking at home when I was just a kid, it then quickly became a big part of my life as I started to learn more and develop my skills
        and knowledge. It know serves me as an independent college student. I know how to cook a variety of delicious meals while staying healthy and on a budget.
        Food has the power to bring people together, and one of my favorite activities is coming together with all my friends sharing a table full of good food!
    </p>
</div>
